name: Development

on:
  workflow_dispatch

jobs:
  build:
    name: Build and publish Docker images of TeaStore
    runs-on: ubuntu-latest
    if: success()
    steps: 
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'
      - run: |
          mvn clean install -DskipTests
          GIT_BRANCH=${GITHUB_BASE_REF:-${GITHUB_REF#refs/heads/}}
          echo "GIT_BRANCH=${GIT_BRANCH}"
          echo "GIT_BRANCH=${GIT_BRANCH}" >> ${GITHUB_ENV}
          sed -i "s/teastore-base:latest/teastore-base:${GIT_BRANCH}/g" services/tools.descartes.teastore.recommender/Dockerfile

      # - name: Login to DockerHub
      #   uses: docker/login-action@v1
      #   with:
      #     username: ${{ secrets.DOCKER_USERNAME }}
      #     password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push teastore-recommender
        uses: docker/build-push-action@v2
        with:
          context: ./services/tools.descartes.teastore.recommender
          push: true
          tags: descartesresearch/teastore-recommender:${{env.GIT_BRANCH}}
